{% extends "base_generic.html" %}
{% load crispy_forms_tags %}

{% block content %}

    {% if form.errors %}

        <p class="truncate center-align z-depth-1 red">Something error</p>
    {% endif %}

    {% if next %}

        {% if user.is_authenticated %}
            <p class="truncate center-align z-depth-1">Your account doesn't have access to this page. To proceed,
            please login with an account that has access.
            </p>
        {% endif %}

    {% endif %}

    <div class="icon-block ">

        <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>

        <h4 class="center">Registration</h4>
    </div>

    <div class="row">

        <div class="col s3">
        <!-- Promo Content 1 goes here -->
        </div>

        <div class="col s12 m6">
            <form method="post" action=".">
                {% csrf_token %}
                {{ form|crispy }}
                <br>
                <input class="btn waves-effect waves-light" type="submit" value="Register" />
            </form>
        </div>

    </div>
    <div class="col s3">
        <!-- Promo Content 1 goes here -->
    </div>
    <div class="row">
        <div class="col s3"></div>

        <div class="row">
            <div class="col s12 m6">
                <div class="card blue-grey lighten-3">
                    <div class="card-content white-text">
                        <span class="card-title center">Register via social network</span>
                    </div>
                    <div class="card-action center">
                        <button class="btn waves-effect waves-light red accent-2"><a class="white-text" href="{% url "social:begin" "google-oauth2" %}">Google+</a></button>
                        <button class="btn waves-effect waves-light blue"><a class="white-text" href="{% url "social:begin" "google-oauth2" %}">Facebook</a></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s3"></div>
    </div>

{% endblock %}