{% extends "base_generic.html" %}

{% block content %}


<div class="carousel carousel-slider center" data-indicators="true">

    <div class="carousel-fixed-item center">
        <a class="btn waves-effect white grey-text darken-text-2">button</a>
    </div>

    <div class="carousel-item red white-text" href="#one!">
        <h2>First Panel</h2>
        <p class="white-text">This is your first panel</p>
    </div>

    <div class="carousel-item amber white-text" href="#two!">
        <h2>Second Panel</h2>
        <p class="white-text">This is your second panel</p>
    </div>

    <div class="carousel-item green white-text" href="#three!">
        <h2>Third Panel</h2>
        <p class="white-text">This is your third panel</p>
    </div>

    <div class="carousel-item blue white-text" href="#four!">
        <h2>Fourth Panel</h2>
        <p class="white-text">This is your fourth panel</p>
    </div>

</div>

<div>
    <p>The library has the following record counts:</p>
    <h4>
        Here will be five most popular book
    </h4>
    <h4>
        features to the project
    </h4>
    <ol>
        <li>Bucket for books</li>
        <li>Book's rating +/- і написати всій менеджер контексту(Бази данних) для головної сторінки</li>
        <li><i class="material-icons right">shopping_cart</i>shopping_cart -- >>></li>
        <li>Connect <a href="https://disqus.com/" target="_blank">Система коментарів</a> https://disqus.com/</li>
        <li>Виводити 5 найпопулярніших книг</li>
        <li>Запиляти Django REST framework</li>
        <li>soc auth</li>
        <li>post auth</li>
        <li>contact form</li>
        <li>add i18 </li>
    </ol>
</div>

<div>
    <ul>
        <li><strong>Books:</strong> {{ num_books }}</li>
        <li><strong>Authors:</strong> {{ num_authors }}</li>
    </ul>
</div>

<div>
   <p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>
</div>


{% endblock %}