{% extends "base_generic.html" %}

{% block content %}

<div class="row">
    <div class="col s12 m12">
        <div class="card blue-grey lighten-5">
            <div class="card-content">
               <span class="card-title">About us</span>
               <p>Наша команда длительное время занималась книготорговой деятельностью. Стремление к самообразованию побудило нас к созданию корпоративной библиотеки бизнес-литературы. Основные принципы мышления успешных людей, биографии известных предпринимателей, интересные идеи и неожиданные решения — деловая литература затягивала все больше. Мы готовы были платить немалые деньги за эти книги, ведь с их помощью могли зарабатывать гораздо больше.
                Идея для новой деятельности пришла сама собой. Во время поездки в Москву. На книжном рынке увидели книгу Айн Рэнд «Атлант расправил плечи» и были крайне удивлены — в пересчете на украинские деньги она стоила примерно на сто гривен дешевле. Проверили цены на другие подобные издания — так и есть: на Украине переплатили солидную сумму денег за бизнес-литературу.
                С этого началась разработка бизнес-плана магазина литературы для людей с активной жизненной позицией, в котором цены вполне оправданны, а не безосновательно завышены. Так был создан Bizlit.com.ua
                Сейчас мы - молодой активно развивающийся магазин. За время существования мы преодолели много барьеров, много раз оступились, но несмотря на это продолжаем свой путь согласно намеченному плану и ни на секунду не отходим от своих убеждений, что бизнес-литература на Украине должна продаваться по адекватной цене. Очень трудно изменить текущий ход событий на Украине, потому что все основные игроки привыкли много зарабатывать на вас. Но начало положено, и мы вас уверяем - нам под силу изменить данную ситуацию. И уже сегодня в нашем магазине можно купить книги по бизнесу по справедливым ценам.
                Также на этой странице хотелось бы поделиться приятными моментами из биографии нашего магазина.
               </p>
            </div>
                <div class="card-action">
                <a href="{% url "index" %}">Main page</a>
                <a href="{% url "books" %}">Buy book</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}