{% extends "base_generic.html" %}

{% load imagefit %}
{% load disqus_tags %}
{% disqus_show_comments 'marketbook' %}

{% set_disqus_url author.get_absolute_url %}


{% block content %}
    <br>
    <div class="row">

        <div class="col s8 m4">
            <!-- Promo Content 1 goes here -->
            {% if author.image %}
                <img class="responsive-img" src="{{ author.image.url|resize:"600x380" }}" alt="">
            {% else %}
                 <img class="responsive-img" src="{{ "/media/std_image/authorexample.jpg"|resize:"600x380" }}" alt="">
            {% endif %}

        </div>

        <div class="col s8 m8">
            <!-- Promo Content 2 goes here -->

    <h1>{{ author.first_name }} {{ author.last_name }}</h1>
            {% if author.date_of_birth %}
        <p><strong>Date of birth:</strong> {{ author.date_of_birth }} </p>
    {% endif %}

    {% if author.date_of_death %}
        <p><strong>Date of death: </strong>{{ author.date_of_death }}
    {% endif %}

    {% if author.biography %}
        <p><strong>Biography: </strong>{{ author.biography }}</p>
    {% endif %}
        <p><strong>{{ author.rating }} </strong> people like this author</p>

    <hr>

        {% if user.is_authenticated %}
            <a class="waves-effect waves-light btn" href="{% url "like_author" author.id %}"><i class="material-icons left">thumb_up</i>Good author</a>
        {% endif %}

    </div>

    </div>

    <h3>Books</h3>
    {% if books %}

        {% for book in books %}
            <h3><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></h3>
            <p><strong>Author:</strong> {{ book.author }}</p>
            <p><strong>Genre:</strong> {% for genre in book.genre.all %} {{ genre }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
            <p><strong>Description:</strong> {{ book.summary }}</p>
        {% endfor %}

    {% endif %}

    <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-width="450" data-numposts="5"></div>

    <div id="disqus_thread"></div>


<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'marketbook'; // required: replace example with your forum shortname

    // The following are highly recommended additional parameters. Remove the slashes in front to use.
    // var disqus_identifier = 'unique_dynamic_id_1234';
    // var disqus_url = 'http://example.com/permalink-to-page.html';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

{% endblock %}