{% extends "base_generic.html" %}

{% load imagefit %}


{% block content %}

    {% if author_list %}

      {% for author in author_list %}

          <div class="card horizontal small">
            <div class="card-image">
                {% if author.image %}
                    <img class="responsive-img" src="{{ author.image.url|resize:"128x180" }}" alt="">
                {% else %}
                    <img class="responsive-img" src="{{ "/media/std_image/authorexample.jpg"|resize:"180x180" }}" alt="">
                {% endif %}
            </div>

            <div class="card-stacked">

                <div class="card-content">
                    <h4><a href="{{ author.get_absolute_url }}">{{ author.first_name }} {{ author.last_name }}</a></h4>

                    {% if author.biography %}
                        <p>{{ author.biography|slice:":48" }}...<a href="{{ author.get_absolute_url }}">read more...</a></p>
                    {% endif %}

                </div>

                <div class="card-action">
                    <a href="{{ author.get_absolute_url }}">{{ author.first_name }} {{ author.last_name }}</a>
                </div>

            </div>
        </div>

      {% endfor %}

    {% else %}
      <p>There are no author in the library.</p>
    {% endif %}

{% endblock %}