{% extends "base_generic.html" %}

{% load static %}
{% load imagefit %}


{% block content %}
    {% if books %}
    <div class="col s10 m6">
        <div class="card blue-grey darken-5">
            <div class="card-content white-text">
                <span class="card-title"><strong id="price">Price: <span class="amount-of-books">{{ price }}</span>$</strong></span>
            </div>
            <div class="card-action">
               <a class="waves-effect waves-light btn" href="https://www.liqpay.com/api/3/checkout?data=eyJ2ZXJzaW9uIjozLCJhY3Rpb24iOiJwYXkiLCJwdWJsaWNfa2V5IjoiaTc2OTQ4MzMyMDEwIiwiYW1vdW50IjoiNSIsImN1cnJlbmN5IjoiVUFIIiwiZGVzY3JpcHRpb24iOiLQnNC%2B0Lkg0YLQvtCy0LDRgCIsInR5cGUiOiJidXkiLCJsYW5ndWFnZSI6InJ1In0%3D&signature=Nfx2AIao670uS8R9dD1TF1plESo%3D" target="_blank"><i class="material-icons left">shopping_cart</i>
                   Buy this
                   {% if num_of_book == 1 %}
                        book
                   {% else %}
                       books
                   {% endif %}
               </a>
               <a href="{% url "clear_basket" %}">Clear basket</a>
            </div>
        </div>
    </div>

    <div class="row">
    {% for book in books %}
    <div class="col s12 m6 book-id-{{ book.id }} not-empty">
        <div class="card horizontal blue-grey lighten-5">
            <div class="card-image">
                {% if book.image %}
                    <img class="responsive-img" src="{{ book.image.url|resize:"128x128" }}" alt="">
                {% else %}
                    <img class="responsive-img" src="{{ "/media/std_image/book_std_png.png"|resize:"128x128" }}">
                {% endif %}
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
                    <p><strong>Author:</strong> {{book.author}}</p>
                    <p><strong>Category:</strong> {{book.category }}</p>
                    <p><strong>Price for a one book: - </strong><span>{{ book.price }}</span></p>
                    <p><strong>Price for a <span id="price-few_book-{{ book.id }}">{{ book.c }}</span> books: - </strong><span id="amount-book-{{ book.id }}">{{ book.amount }}</span></p>
                    <!-- TODO need add function -->
                    <div style="display: inline;">
                        <input onclick="Materialize.toast('Added 1 book to the basket', 2000)" class="btn book-pk" data-id="{{ book.id }}" type="submit" value="+">
                    </div>
                        <a class="btn blue-grey darken-5"><span id="number-book-{{ book.id }}" class="center">{{ book.c }}</span></a>
                    <div style="display: inline;">
                        <input onclick="Materialize.toast('Deleted 1 book from the basket', 2000)" class="btn delete-one-book-from-basket" data-id="{{ book.id }}" type="submit" value="-">
                    </div>
                </div>
                <div class="card-action">
                    <input type="submit" class="btn del-book-id" value="Delete from basket" data-id="{{ book.id }}">
                </div>
                <div class="info-book-id-{{ book.id }}" style="display: none">
                    <div class="hide-price-book-id-{{ book.id }}">{{ book.price }}</div>
                    <div class="hide-book-id-{{ book.id }}">{{ book.id }}</div>
                    <div class="hide-book-amount-id-{{ book.id }}">{{ book.amount }}</div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    </div>
    {% else %}
        <div class="col s12 m7">
            <div class="card horizontal blue-grey lighten-5">
                <div class="card-image">
                    <img class="responsive-img" src="{{ "/media/std_image/empty_basket.png"|resize:"256x256" }}">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h1 class="header">Your basket is empty</h1>
                        <p>Your basket is empty now. <br>
                            You can go to the section with <a href="{% url "books" %}">books</a>  and add them to your basket.
                        </p>
                    </div>
                    <div class="card-action">
                        <a class="waves-effect waves-light btn" href="{% url "books" %}"><i class="material-icons left">shopping_cart</i>Buy some book</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <script type="text/javascript">
    // delete book from basket
    $(".del-book-id").on("click", function (e) {
        e.preventDefault();
        let book_pk = $(e.currentTarget).data("id");
        $.ajax({
            data: {
                pk: book_pk,
                csrfmiddlewaretoken: "{{ csrf_token }}"
            },
            type: "POST",
            url: "{% url "delete_from_basket" %}",
            success: function (data) {
                jQuery('.book-id-' + book_pk).animate({
                        opacity: 0.50,
                        left: "+=10",
                        height: "toggle"
                      }, 500, function() {
                        jQuery("#basket").text("Basket " + data['count_goods']);

                        let amoutnBs = parseInt(jQuery(".amount-of-books").html());
                        let amoutn =   parseInt(jQuery("#amount-book-" + book_pk).html());
                        let s = amoutnBs - amoutn;
                        jQuery(".amount-of-books").text(s);

                        jQuery('.book-id-' + book_pk).remove();
                        let basketContent = jQuery('.not-empty');
                        if (basketContent.length < 1) {
                            window.open('http://10.110.0.10:8000/catalog/basket', "_self")
                        }
                      });
                },
            error: function (er) {
                console.log(er)
            }
        })
    });
    </script>

{% endblock %}