{% extends "base_generic.html" %}

{% load imagefit %}
{% load static %}

{% block content %}

    {% if book_list %}

    <div class="row">

        {% for book in book_list %}

        <div class="col s12 m6">
            <div class="card horizontal">
                <div class="card-image">
                    {% if book.image %}
                        <img class="responsive-img" src="{{ book.image.url|resize:"128x128" }}" alt="">
                    {% else %}
                        <img class="responsive-img" src="{{ "/media/std_image/book-bow.png"|resize:"128x128" }}">
                    {% endif %}
                </div>

                <div class="card-stacked">

                    <div class="card-content">
                        <h4><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></h4>
                        <p><strong>Author:</strong> {{book.author}}</p>
                        <p><strong>Category:</strong> {{book.category }}</p>
                        <p><strong>Rating:</strong> {{ book.rating }}</p>
                        <p><strong>Price: {{ book.price }} $</strong></p>
                    </div>

                    <div class="card-action">
{#                        <a class="waves-effect waves-light btn" href="{% url "add_to_basket" book.id %}">#}
{#                            <i class="material-icons left">shopping_cart</i>Buy#}
{#                        </a>#}

{#                        <a href="#"><input id="{{ book.id }}" type="submit" class="btn" value="Buy"/></a>#}

                        <form id="add_to_basket" action="{% url "add_to_basket" book.id %}">
                            <input id="book_id" type="submit" class="btn" value="Add to basket"/>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        {% endfor %}

    </div>
    {% else %}

        <p>There are no books in the library.</p>

    {% endif %}

{% endblock %}