{% extends "base_generic.html" %}

{% load imagefit %}
{% load static %}

{% block content %}


    {% if book_list %}

        {% for book in book_list %}

        <div class="col s6 m12">
            <div class="card horizontal">
                <div class="card-image">
                    {% if book.image %}
                        <img class="responsive-img" src="{{ book.image.url|resize:"220x600" }}" alt="">
                    {% else %}
                        <img class="responsive-img" src="{{ "/media/std_image/book-bow.png"|resize:"220x600" }}">
                    {% endif %}
                </div>

                <div class="card-stacked">

                    <div class="card-content">
                        <h4><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></h4>
                        <p><strong>Author:</strong> {{book.author}}</p>
                        <p><strong>Category:</strong> {{book.category }}</p>
                        <p>{{ book.summary|slice:":64" }}... <a href="{{ book.get_absolute_url }}">read more</a></p>
                    </div>

                    <div class="card-action">
{#                        <a class="waves-effect waves-light btn" href="{% url "add_to_basket" book.id %}">#}
{#                            <i class="material-icons left">shopping_cart</i>Buy#}
{#                        </a>#}

{#                        <a href="#"><input id="{{ book.id }}" type="submit" class="btn" value="Buy"/></a>#}

                        <form id="add_to_basket" action="{% url "add_to_basket" book.id %}">

                            <input id="book_id" type="submit" class="btn" value="Add to basket"/>
                            <strong>Price: {{ book.price }} $ | Rating: {{ book.rating }}</strong>

                        </form>

                    </div>

                </div>
            </div>
        </div>

        {% endfor %}


    {% else %}

        <p>There are no books in the library.</p>

    {% endif %}


    <script src="{% static "js/app.js" %}"></script>

{% endblock %}