{% extends "base_generic.html" %}

{% load static %}
{% load imagefit %}
{% load disqus_tags %}
{% disqus_show_comments 'marketbook' %}

{% set_disqus_url book.get_absolute_url %}

{% block content %}

    <br>
    <div class="row">
        <div class="col s10 m4">
            {% if book.image %}
                <img class="responsive-img materialboxed" data-caption="{{ book.title }}" src="{{ book.image.url|resize:"600x380" }}" alt="">
            {% else %}
                <img class="responsive-img materialboxed" data-caption="{{ book.title }}" src="{{ "/media/std_image/book_std_png.png"|resize:"600x380" }}" alt="">
            {% endif %}
        </div>
        <div class="col s10 m4">
            <h4><strong>{{ book.title }}</strong></h4>
            <table>
                <tbody>
                <tr>
                    <td><strong>Author</strong></td>
                    <td><a href="{{ book.author.get_absolute_url }}">{{ book.author }}</a></td>
                </tr>
                <tr>
                    <td><strong>Category</strong></td>
                    <td>{{ book.category }}</td>
                </tr>
                <tr>
                    <td><strong>ISBN</strong></td>
                    <td>{{ book.isbn }}</td>
                </tr>
                <tr>
                    <td><strong>Language</strong></td>
                    <td>{{ book.language }}</td>
                </tr>
                <tr>
                    <td><strong>Publisher</strong></td>
                    <td>{{ book.publisher }}</td>
                </tr>
                <tr>
                    <td><strong>Year</strong></td>
                    <td>{{ book.pub_year }}</td>
                </tr>
                </tbody>
            </table>

        <!-- Social share block -->
        <!-- Change on deploy server -->
        <!-- Need add domain in data-href-->
            <div style="display: block; padding-top: 10px" class="fb-share-button" data-href="http://10.110.0.10:8000/{{ book.get_absolute_url }}"
            data-layout="button_count" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore"
            target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Поделиться</a>
            </div>

            <div style="padding-top: 10px">
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://10.110.0.10:8000{{ book.get_absolute_url }}"
                   data-hashtags="book">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
                   if(!d.getElementById(id)){js=d.createElement(s);
                   js.id=id;js.src=p+'://platform.twitter.com/widgets.js';
                   fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
                </script>
            </div>
            <div style="padding-top: 5px">
                <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
                <script type="IN/Share" data-url="http://10.110.0.10:8000/catalog/{{ book.get_absolute_url }}" data-counter="right"></script>
            </div>
        <!-- Social share block END -->
        </div>
        <div class="col s10 m4">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title"><strong>Price: {{ book.price }} $</strong></span>
                    <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.
                    </p>
                </div>
                <div class="card-action">
                   <input onclick="Materialize.toast('Added to basket', 3000)" type="submit" class="btn book-pk" data-id="{{ book.id }}" value="Add to basket"/>
                </div>
            </div>
            {% if book.free_sampler_pdf_file %}
                <div>
                    <p>This book have free sampler: <a href="{% url "download_sample" book.id %}">Download free sampler</a></p>
                </div>
             {% else %}
                 <div>
                    <p>This book haven't free sampler</p>
                </div>
             {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col s8 m12">
            <h5>About book</h5>
            <hr>
            <p>{{ book.summary }}</p>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col s8 m12">
        {% for i in book.genre.all %}
            <div class="chip">#{{ i }}</div>
        {% endfor %}
        </div>
    </div>

    <div id="fb-root" data-href="http://10.110.0.10:8000/catalog/{{ book.get_absolute_url }}" data-layout="button_count">
    </div>

    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.8";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

<div id="disqus_thread"></div>

<script type="text/javascript">
    var disqus_shortname = 'marketbook';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>

<noscript>
    Please enable JavaScript to view the
    <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>

<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

{% endblock %}
